<header>
  <!-- Nav principal -->
  <nav class="nav-principal">
    <h1>AlLinks</h1>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/crearEnlace" routerLinkActive="active">Crear Enlace</a></li>
    </ul>
  </nav>

  <!-- Nav secundario (para filtrar enlaces) -->
  @if (mostrarFiltro){

    <h2>Etiquetas</h2>
    @if (etiquetas.length === 0){
      <p>Sin etiquetas disponibles</p>
    }
    <nav class="nav-secundario" >
   
      <ul>
        @for (etiqueta of etiquetas; track etiqueta.id) {      
          <li >
          <button (click)="filtrarPorEtiqueta(etiqueta.id)">{{ etiqueta.nombre }}</button>
        </li>}
  
      </ul>
    </nav>
  }
  
</header>
